@model EmployeeTrackingSystem.Models.Employee

@{
    ViewData["Title"] = "Edit Certifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Certifications</h2>

<h4>@Html.DisplayFor(model => model.Name)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Title" />
            <input type="hidden" asp-for="Address" />
            <input type="hidden" asp-for="City" />
            <input type="hidden" asp-for="Zip" />
            <input type="hidden" asp-for="State" />
            <input type="hidden" asp-for="Phone" />
            <input type="hidden" asp-for="DateOfBirth" />
            <input type="hidden" asp-for="HireDate" />
            <input type="hidden" asp-for="LicenseNumber" />
            <input type="hidden" asp-for="CBHT" />
            <input type="hidden" asp-for="APDSupportedLiving" />
            <input type="hidden" asp-for="APDSupportedEmployement" />
            <div class="form-group">
                <label asp-for="DCFHippastartDate" class="control-label"></label>
                <input asp-for="DCFHippastartDate" class="form-control" />
                <span asp-validation-for="DCFHippastartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DCFHippaEndDate" class="control-label"></label>
                <input asp-for="DCFHippaEndDate" class="form-control" />
                <span asp-validation-for="DCFHippaEndDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="VehicleRegistrationStartDate" class="control-label"></label>
                <input asp-for="VehicleRegistrationStartDate" class="form-control" />
                <span asp-validation-for="VehicleRegistrationStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleRegistrationEndDate" class="control-label"></label>
                <input asp-for="VehicleRegistrationEndDate" class="form-control" />
                <span asp-validation-for="VehicleRegistrationEndDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="VehicleInsuranceCardStartDate" class="control-label"></label>
                <input asp-for="VehicleInsuranceCardStartDate" class="form-control" />
                <span asp-validation-for="VehicleInsuranceCardStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleInsuranceCardEndDate" class="control-label"></label>
                <input asp-for="VehicleInsuranceCardEndDate" class="form-control" />
                <span asp-validation-for="VehicleInsuranceCardEndDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="YearlyEvaluationStartDate" class="control-label"></label>
                <input asp-for="YearlyEvaluationStartDate" class="form-control" />
                <span asp-validation-for="YearlyEvaluationStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearlyEvaluationEndDate" class="control-label"></label>
                <input asp-for="YearlyEvaluationEndDate" class="form-control" />
                <span asp-validation-for="YearlyEvaluationEndDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="TargetCaseManagmentStartDate" class="control-label"></label>
                <input asp-for="TargetCaseManagmentStartDate" class="form-control" />
                <span asp-validation-for="TargetCaseManagmentStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetCaseManagmentEndDate" class="control-label"></label>
                <input asp-for="TargetCaseManagmentEndDate" class="form-control" />
                <span asp-validation-for="TargetCaseManagmentEndDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="AffidavitOfGoodMoralCharacterStartDate" class="control-label"></label>
                <input asp-for="AffidavitOfGoodMoralCharacterStartDate" class="form-control" />
                <span asp-validation-for="AffidavitOfGoodMoralCharacterStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AffidavitOfGoodMoralCharacterEndDate" class="control-label"></label>
                <input asp-for="AffidavitOfGoodMoralCharacterEndDate" class="form-control" />
                <span asp-validation-for="AffidavitOfGoodMoralCharacterEndDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="FDLEBGSStartDate" class="control-label"></label>
                <input asp-for="FDLEBGSStartDate" class="form-control" />
                <span asp-validation-for="FDLEBGSStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FDLEBGSEndDate" class="control-label"></label>
                <input asp-for="FDLEBGSEndDate" class="form-control" />
                <span asp-validation-for="FDLEBGSEndDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="JSOLocalBGSStartDate" class="control-label"></label>
                <input asp-for="JSOLocalBGSStartDate" class="form-control" />
                <span asp-validation-for="JSOLocalBGSStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JSOLocalBGSEndDate" class="control-label"></label>
                <input asp-for="JSOLocalBGSEndDate" class="form-control" />
                <span asp-validation-for="JSOLocalBGSEndDate" class="text-danger"></span>
            </div>
            <br />
            @if (Model.CBHT)
            {
                <div class="form-group">
                    <label asp-for="ANRPStartDate" class="control-label"></label>
                    <input asp-for="ANRPStartDate" class="form-control" />
                    <span asp-validation-for="ANRPStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ANRPEndDate" class="control-label"></label>
                    <input asp-for="ANRPEndDate" class="form-control" />
                    <span asp-validation-for="ANRPEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="ClinicalCompetenceStartDate" class="control-label"></label>
                    <input asp-for="ClinicalCompetenceStartDate" class="form-control" />
                    <span asp-validation-for="ClinicalCompetenceStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClinicalCompetenceEndDate" class="control-label"></label>
                    <input asp-for="ClinicalCompetenceEndDate" class="form-control" />
                    <span asp-validation-for="ClinicalCompetenceEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="ClientPersonalSafetyStartDate" class="control-label"></label>
                    <input asp-for="ClientPersonalSafetyStartDate" class="form-control" />
                    <span asp-validation-for="ClientPersonalSafetyStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClientPersonalSafetyEndDate" class="control-label"></label>
                    <input asp-for="ClientPersonalSafetyEndDate" class="form-control" />
                    <span asp-validation-for="ClientPersonalSafetyEndDate" class="text-danger"></span>
                </div>
                <br /><div class="form-group">
                    <label asp-for="PatientConfidentialityStartDate" class="control-label"></label>
                    <input asp-for="PatientConfidentialityStartDate" class="form-control" />
                    <span asp-validation-for="PatientConfidentialityStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PatientConfidentialityEndDate" class="control-label"></label>
                    <input asp-for="PatientConfidentialityEndDate" class="form-control" />
                    <span asp-validation-for="PatientConfidentialityEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="EthicalProfessionalStartDate" class="control-label"></label>
                    <input asp-for="EthicalProfessionalStartDate" class="form-control" />
                    <span asp-validation-for="EthicalProfessionalStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EthicalProfessionalEndDate" class="control-label"></label>
                    <input asp-for="EthicalProfessionalEndDate" class="form-control" />
                    <span asp-validation-for="EthicalProfessionalEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="ElectivesStartDate" class="control-label"></label>
                    <input asp-for="ElectivesStartDate" class="form-control" />
                    <span asp-validation-for="ElectivesStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ElectivesEndDate" class="control-label"></label>
                    <input asp-for="ElectivesEndDate" class="form-control" />
                    <span asp-validation-for="ElectivesEndDate" class="text-danger"></span>
                </div>
                <br />
            }

            @if (Model.APDSupportedLiving && Model.APDSupportedEmployement)//both apd certs
            {
                //waiver providers
                <div class="form-group">
                    <label asp-for="ZeroToleranceStartDate" class="control-label"></label>
                    <input asp-for="ZeroToleranceStartDate" class="form-control" />
                    <span asp-validation-for="ZeroToleranceStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ZeroToleranceEndDate" class="control-label"></label>
                    <input asp-for="ZeroToleranceEndDate" class="form-control" />
                    <span asp-validation-for="ZeroToleranceEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="DCCCStartDate" class="control-label"></label>
                    <input asp-for="DCCCStartDate" class="form-control" />
                    <span asp-validation-for="DCCCStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DCCCEndDate" class="control-label"></label>
                    <input asp-for="DCCCEndDate" class="form-control" />
                    <span asp-validation-for="DCCCEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="FirstAidStartDate" class="control-label"></label>
                    <input asp-for="FirstAidStartDate" class="form-control" />
                    <span asp-validation-for="FirstAidStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstAidEndDate" class="control-label"></label>
                    <input asp-for="FirstAidEndDate" class="form-control" />
                    <span asp-validation-for="FirstAidEndDate" class="text-danger"></span>
                </div>
                <br /><div class="form-group">
                    <label asp-for="APDHIPAAStartDate" class="control-label"></label>
                    <input asp-for="APDHIPAAStartDate" class="form-control" />
                    <span asp-validation-for="APDHIPAAStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="APDHIPAAEndDate" class="control-label"></label>
                    <input asp-for="APDHIPAAEndDate" class="form-control" />
                    <span asp-validation-for="APDHIPAAEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="CPRStartDate" class="control-label"></label>
                    <input asp-for="CPRStartDate" class="form-control" />
                    <span asp-validation-for="CPRStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CPREndDate" class="control-label"></label>
                    <input asp-for="CPREndDate" class="form-control" />
                    <span asp-validation-for="CPREndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="HIVAIDSStartDate" class="control-label"></label>
                    <input asp-for="HIVAIDSStartDate" class="form-control" />
                    <span asp-validation-for="HIVAIDSStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HIVAIDSEndDate" class="control-label"></label>
                    <input asp-for="HIVAIDSEndDate" class="form-control" />
                    <span asp-validation-for="HIVAIDSEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="SocialSecurityStartDate" class="control-label"></label>
                    <input asp-for="SocialSecurityStartDate" class="form-control" />
                    <span asp-validation-for="SocialSecurityStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SocialSecurityEndDate" class="control-label"></label>
                    <input asp-for="SocialSecurityEndDate" class="form-control" />
                    <span asp-validation-for="SocialSecurityEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="InServiceTrainingStartDate" class="control-label"></label>
                    <input asp-for="InServiceTrainingStartDate" class="form-control" />
                    <span asp-validation-for="InServiceTrainingStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InServiceTrainingEndDate" class="control-label"></label>
                    <input asp-for="InServiceTrainingEndDate" class="form-control" />
                    <span asp-validation-for="InServiceTrainingEndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InServiceTrainingHours" class="control-label"></label>
                    <select asp-for="InServiceTrainingHours" class="form-control">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                    <span asp-validation-for="InServiceTrainingHours" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="RelatedToEmploymentStartDate" class="control-label"></label>
                    <input asp-for="RelatedToEmploymentStartDate" class="form-control" />
                    <span asp-validation-for="RelatedToEmploymentStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RelatedToEmploymentEndDate" class="control-label"></label>
                    <input asp-for="RelatedToEmploymentEndDate" class="form-control" />
                    <span asp-validation-for="RelatedToEmploymentEndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RelatedToEmploymentHours" class="control-label"></label>
                    <select asp-for="RelatedToEmploymentHours" class="form-control">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                    <span asp-validation-for="RelatedToEmploymentHours" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="MedicationAdministrationStartDate" class="control-label"></label>
                    <input asp-for="MedicationAdministrationStartDate" class="form-control" />
                    <span asp-validation-for="MedicationAdministrationStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MedicationAdministrationEndDate" class="control-label"></label>
                    <input asp-for="MedicationAdministrationEndDate" class="form-control" />
                    <span asp-validation-for="MedicationAdministrationEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="ReactiveStrategiesStartDate" class="control-label"></label>
                    <input asp-for="ReactiveStrategiesStartDate" class="form-control" />
                    <span asp-validation-for="ReactiveStrategiesStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReactiveStrategiesEndDate" class="control-label"></label>
                    <input asp-for="ReactiveStrategiesEndDate" class="form-control" />
                    <span asp-validation-for="ReactiveStrategiesEndDate" class="text-danger"></span>
                </div>
                <br />
            }
            else if (Model.APDSupportedLiving && !Model.APDSupportedEmployement)//APDSupportedLiving certs
            {
                //waiver providers
                <div class="form-group">
                    <label asp-for="ZeroToleranceStartDate" class="control-label"></label>
                    <input asp-for="ZeroToleranceStartDate" class="form-control" />
                    <span asp-validation-for="ZeroToleranceStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ZeroToleranceEndDate" class="control-label"></label>
                    <input asp-for="ZeroToleranceEndDate" class="form-control" />
                    <span asp-validation-for="ZeroToleranceEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="DCCCStartDate" class="control-label"></label>
                    <input asp-for="DCCCStartDate" class="form-control" />
                    <span asp-validation-for="DCCCStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DCCCEndDate" class="control-label"></label>
                    <input asp-for="DCCCEndDate" class="form-control" />
                    <span asp-validation-for="DCCCEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="FirstAidStartDate" class="control-label"></label>
                    <input asp-for="FirstAidStartDate" class="form-control" />
                    <span asp-validation-for="FirstAidStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstAidEndDate" class="control-label"></label>
                    <input asp-for="FirstAidEndDate" class="form-control" />
                    <span asp-validation-for="FirstAidEndDate" class="text-danger"></span>
                </div>
                <br /><div class="form-group">
                    <label asp-for="APDHIPAAStartDate" class="control-label"></label>
                    <input asp-for="APDHIPAAStartDate" class="form-control" />
                    <span asp-validation-for="APDHIPAAStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="APDHIPAAEndDate" class="control-label"></label>
                    <input asp-for="APDHIPAAEndDate" class="form-control" />
                    <span asp-validation-for="APDHIPAAEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="CPRStartDate" class="control-label"></label>
                    <input asp-for="CPRStartDate" class="form-control" />
                    <span asp-validation-for="CPRStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CPREndDate" class="control-label"></label>
                    <input asp-for="CPREndDate" class="form-control" />
                    <span asp-validation-for="CPREndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="HIVAIDSStartDate" class="control-label"></label>
                    <input asp-for="HIVAIDSStartDate" class="form-control" />
                    <span asp-validation-for="HIVAIDSStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HIVAIDSEndDate" class="control-label"></label>
                    <input asp-for="HIVAIDSEndDate" class="form-control" />
                    <span asp-validation-for="HIVAIDSEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="SocialSecurityStartDate" class="control-label"></label>
                    <input asp-for="SocialSecurityStartDate" class="form-control" />
                    <span asp-validation-for="SocialSecurityStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SocialSecurityEndDate" class="control-label"></label>
                    <input asp-for="SocialSecurityEndDate" class="form-control" />
                    <span asp-validation-for="SocialSecurityEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="InServiceTrainingStartDate" class="control-label"></label>
                    <input asp-for="InServiceTrainingStartDate" class="form-control" />
                    <span asp-validation-for="InServiceTrainingStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InServiceTrainingEndDate" class="control-label"></label>
                    <input asp-for="InServiceTrainingEndDate" class="form-control" />
                    <span asp-validation-for="InServiceTrainingEndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InServiceTrainingHours" class="control-label"></label>
                    <select asp-for="InServiceTrainingHours" class="form-control">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                    <span asp-validation-for="InServiceTrainingHours" class="text-danger"></span>
                </div>
                <br />
            }
            else if (Model.APDSupportedEmployement && !Model.APDSupportedLiving)//APDSupportedEmployement certs
            {
                //waiver providers
                <div class="form-group">
                    <label asp-for="ZeroToleranceStartDate" class="control-label"></label>
                    <input asp-for="ZeroToleranceStartDate" class="form-control" />
                    <span asp-validation-for="ZeroToleranceStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ZeroToleranceEndDate" class="control-label"></label>
                    <input asp-for="ZeroToleranceEndDate" class="form-control" />
                    <span asp-validation-for="ZeroToleranceEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="DCCCStartDate" class="control-label"></label>
                    <input asp-for="DCCCStartDate" class="form-control" />
                    <span asp-validation-for="DCCCStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DCCCEndDate" class="control-label"></label>
                    <input asp-for="DCCCEndDate" class="form-control" />
                    <span asp-validation-for="DCCCEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="FirstAidStartDate" class="control-label"></label>
                    <input asp-for="FirstAidStartDate" class="form-control" />
                    <span asp-validation-for="FirstAidStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstAidEndDate" class="control-label"></label>
                    <input asp-for="FirstAidEndDate" class="form-control" />
                    <span asp-validation-for="FirstAidEndDate" class="text-danger"></span>
                </div>
                <br /><div class="form-group">
                    <label asp-for="APDHIPAAStartDate" class="control-label"></label>
                    <input asp-for="APDHIPAAStartDate" class="form-control" />
                    <span asp-validation-for="APDHIPAAStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="APDHIPAAEndDate" class="control-label"></label>
                    <input asp-for="APDHIPAAEndDate" class="form-control" />
                    <span asp-validation-for="APDHIPAAEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="CPRStartDate" class="control-label"></label>
                    <input asp-for="CPRStartDate" class="form-control" />
                    <span asp-validation-for="CPRStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CPREndDate" class="control-label"></label>
                    <input asp-for="CPREndDate" class="form-control" />
                    <span asp-validation-for="CPREndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="HIVAIDSStartDate" class="control-label"></label>
                    <input asp-for="HIVAIDSStartDate" class="form-control" />
                    <span asp-validation-for="HIVAIDSStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HIVAIDSEndDate" class="control-label"></label>
                    <input asp-for="HIVAIDSEndDate" class="form-control" />
                    <span asp-validation-for="HIVAIDSEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="RelatedToEmploymentStartDate" class="control-label"></label>
                    <input asp-for="RelatedToEmploymentStartDate" class="form-control" />
                    <span asp-validation-for="RelatedToEmploymentStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RelatedToEmploymentEndDate" class="control-label"></label>
                    <input asp-for="RelatedToEmploymentEndDate" class="form-control" />
                    <span asp-validation-for="RelatedToEmploymentEndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RelatedToEmploymentHours" class="control-label"></label>
                    <select asp-for="RelatedToEmploymentHours" class="form-control">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                    <span asp-validation-for="RelatedToEmploymentHours" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="MedicationAdministrationStartDate" class="control-label"></label>
                    <input asp-for="MedicationAdministrationStartDate" class="form-control" />
                    <span asp-validation-for="MedicationAdministrationStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MedicationAdministrationEndDate" class="control-label"></label>
                    <input asp-for="MedicationAdministrationEndDate" class="form-control" />
                    <span asp-validation-for="MedicationAdministrationEndDate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="ReactiveStrategiesStartDate" class="control-label"></label>
                    <input asp-for="ReactiveStrategiesStartDate" class="form-control" />
                    <span asp-validation-for="ReactiveStrategiesStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReactiveStrategiesEndDate" class="control-label"></label>
                    <input asp-for="ReactiveStrategiesEndDate" class="form-control" />
                    <span asp-validation-for="ReactiveStrategiesEndDate" class="text-danger"></span>
                </div>
                <br />
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>